.newsletter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.newsletter-form__field-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.newsletter-form__field-wrapper .field__input {
  border-color: rgba(var(--color-foreground), 1);
  height: 5.6rem;
  padding-inline: calc(var(--inputs-border-width) + 2rem);
  font-size: 1.6rem;
}

.newsletter-form__field-wrapper .field__label {
  left: calc(var(--inputs-border-width) + 2rem);
  top: calc(1.5rem + var(--inputs-border-width));
  font-size: 1.6rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

.newsletter-form__privacy-text {
  font-size: 1.2rem;
  line-height: 1.6;
  padding-top: 0.9em;
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    grid-column: span 2;
  }

  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__privacy-text {
    font-size: 1.6rem;
    padding-top: 0.6em;
  }
}

@media screen and (min-width: 990px) {
  .footer-block--newsletter {
    grid-column: 3 / auto;
    grid-row: 1 / span 2;
    border-inline-start: 1px solid rgba(var(--color-foreground), 0.1);
    padding-inline-start: 6.4rem;
  }
}

@media screen and (max-width: 749px) {
  .footer-block--newsletter {
    background: #f7e8e8;
    margin-inline: -1.6rem;
    padding-inline: 1.6rem;
    padding-block-start: 2rem;
    padding-block-end: 1.8rem;
  }
}
