.pagination-wrapper {
  margin-top: 2.2rem;
}

@media screen and (min-width: 750px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
}

.pagination__item:not(.pagination__item-arrow) {
  background: #ae13161a;
  border: 1px solid transparent;
  height: 3rem;
  width: 3rem;
}

.pagination__item.pagination__item--current {
  border-color: #ae1316;
}

.pagination__item .svg-wrapper {
  width: 2.8rem;
  height: auto;
  color: #ae1316;
}

.pagination__item.disabled .svg-wrapper {
  color: rgb(var(--color-foreground));
  opacity: 0.3;
}

.pagination__item .svg-wrapper > svg {
  height: auto;
}

.pagination__item.pagination__item--next svg {
  transform: scaleX(-1);
}

@media screen and (min-width: 750px) {
  .pagination__list {
    gap: 1.6rem;
    justify-content: center;
  }

  .pagination__item:not(.pagination__item-arrow) {
    height: 4rem;
    font-size: 1.8rem;
    width: 4rem;
  }

  .pagination__item.pagination__item--next {
    margin-inline-end: 3.4rem;
  }

  .pagination__item.pagination__item--prev {
    margin-inline-start: 3.4rem;
  }

  .pagination__item .svg-wrapper {
    width: 3.8rem;
  }
}

@media screen and (max-width: 749px) {
  .pagination__item--next-wrapper,
  .pagination__item--prev-wrapper {
    order: 10;
  }

  .pagination__item--next-wrapper {
    margin-inline: auto 0.6rem;
  }

  .pagination__item.pagination__item--prev {
    margin-inline-start: 0;
  }

  .pagination__item.pagination__item--next {
    margin-inline-end: 0;
  }
}
