.search__input.field__input {
  padding-inline-end: 9.8rem;
  border: var(--inputs-border-width) solid rgba(var(--color-foreground),var(--inputs-border-opacity));
}

.search__button {
  inset-inline-end: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.reset__button {
  inset-inline-end: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  inset-inline-end: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  inset-inline-end: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  border-end-end-radius: var(--buttons-radius);
  border-start-end-radius: var(--buttons-radius);
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

.search__button:not(:focus-visible):not(.focused) {
  background-color: #43AA49;
  color: #fff;
}

.reset__button:not(:focus-visible):not(.focused) {
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__results {
  position: relative;
}

.search .field:before,
.search .field:after {
  display: none;
}