.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1.1rem;
  color: rgb(var(--color-foreground));
}

.footer__list-social .list-social__link {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 4rem;
  height: 4rem;
  padding: 0;
}

.footer__list-social .list-social__link:hover {
  border-color: rgb(var(--color-foreground));
  background: rgb(var(--color-foreground));
  color: rgb(var(--color-button));
}

.footer__list-social .list-social__item .icon {
  height: auto;
  width: 1.6rem;
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}
