.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .blog .title-wrapper-with-link {
    margin-bottom: 2.2rem;
  }
}

@media screen and (min-width: 990px) {
  .blog .title-wrapper-with-link {
    margin-bottom: 3.9rem;
  }
}

.blog__title {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.blog__title p {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-block: 0;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 4rem;
  }

  .blog__button.button {
    min-height: calc(5.2rem + var(--buttons-border-width) * 2);
    min-width: 14.3rem;
  }
}

/* Blog Content Layout */
.blog__content-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-desktop-horizontal-spacing, 2rem);
}

/* Tablet Layout */
@media screen and (min-width: 750px) {
  .blog__content-layout {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .blog__slider-section {
    grid-column: span 2;
  }
}

/* Desktop Layout */
@media screen and (min-width: 990px) {
  .blog__content-layout {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .blog__slider-section {
    grid-column: span 2;
  }
}

.blog__slider-section {
  width: 100%;
}

.blog__slider-section slider-component,
.blog__slider-section .blog__posts {
  height: 100%;
}

.blog__editor-picks {
  width: 100%;
}

.blog__editor-picks-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  padding: 1.6rem;
}

.blog__editor-picks-item {
  padding-block-start: 1.5rem;
}

.blog__editor-picks-item:not(:first-child) {
  border-top: 1px solid rgba(216, 228, 253, 1);
  padding-block-start: 1.6rem;
}

/* Mobile Layout - Stack vertically */
@media screen and (max-width: 749px) {
  .blog__content-layout {
    grid-template-columns: 1fr;
    padding-inline: 1.5rem;
  }
  
  .blog__editor-picks-grid {
    grid-template-columns: 1fr;
  }
}


/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

.blog__editor-picks {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background: #fff;
}

.blog__editor-picks-header {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(216, 228, 253, 1)
}

.blog__editor-picks-title {
  margin: 0;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}

.blog__editor-picks-article-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.75;
  color: rgba(16, 16, 32, 1);
  margin: 0 0 0.4rem;
}

.blog__editor-picks-article-title a {
  color: inherit;
  text-decoration: none;
}

.blog__editor-picks-excerpt {
  font-size: 1.4rem;
  line-height: 1.625;
  color: rgba(66, 66, 66, 1);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-block-end: 0.8rem;
}

@media screen and (min-width: 990px) {
  .blog__editor-picks-article-title,
  .blog__editor-picks-excerpt {
    font-size: 1.8rem;
  }
}


.blog__editor-picks-read-more {
  display: flex;
}

.blog__editor-picks-read-more-link {
  color: rgb(var(--color-button));
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
}

@media screen and (min-width: 990px) {
  .blog__editor-picks-read-more-link {
    font-size: 2rem;
  }
}