@media screen and (min-width: 750px) {
  .in-house-assembled-banner.page-width {
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 990px) {
  .in-house-assembled-banner.page-width {
    padding-block: 5rem;
  }
}

.in-house-assembled-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  gap: 2.2rem;
  background: rgba(174, 19, 22, 0.1);
  border-radius: 1rem;
}

.in-house-assembled-flag {
  width: 10rem;
  margin-bottom: 0.4rem;
}

.in-house-assembled-flag svg {
  width: 100%;
  height: 100%;
}

.in-house-assembled-heading {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.in-house-assembled-description {
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
  max-width: 81.8rem;
  order: 2;
}

@media screen and (min-width: 990px) {
  .in-house-assembled-description {
    margin-block-end: -1rem;
  }
}

@media screen and (max-width: 749px) {
  .in-house-assembled-banner {
    padding: 1.6rem;
  }

  .in-house-assembled-content {
    padding: 2rem 2rem 3.2rem;
    gap: 0.3rem;
  }

  .in-house-assembled-flag {
    width: 5rem;
  }

  .in-house-assembled-heading {
    font-size: 3rem;
    line-height: 3.6rem;
  }

  .in-house-assembled-description {
    font-size: 1.8rem;
    line-height: 150%;
    padding-top: 0.2rem;
  }
}
