.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

/* Banner Image Responsive Display */
.main-page-banner__image--desktop {
  display: block;
}

.main-page-banner__image--mobile {
  display: none;
}

@media screen and (max-width: 989px) {
  .main-page-banner__image--desktop {
    display: none;
  }
  
  .main-page-banner__image--mobile {
    display: block;
  }
}
